body {
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
}
a {
    color: #007185;
}
.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}
.left-container {
    width: 35%;
}
.left-container img{
    width: 100%;
    
}
.left-container p {
    color: #565959;
}

.right-container {
    width: 65%;
}